################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PasswordCheck/FileContentIndex/9a231932-3427-4bb9-b6b7-2c4630668e16.vsidx
